.newsCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid hsl(80, 55%, 96%);
    padding: 20px;
    box-shadow: 0 8px 10px 4px lightgray;

    width: 350px;
    height: 440px;
    margin: 10px 20px;
}

.newsCard > hr {
    width: 80px;
    height: 7px;
    margin: 20px 0;
    background-color: #0044FF;
}

.newsCard__title{
    width: 274px;
    font-size: 26px;
    color: #21212B;
    font-weight: 500;
}
.newsCard__text{
    color: #444;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    width: 100%;
}