.home{
    height: 100%;
    display: flex;
    flex-direction: column;
  
}
.home__hero{
  
}

.home__heroVideo{
    width: 100%;
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.home__header{
   
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
margin: 100px;
}
.home__header > h1{
font-size: 47px;
font-family: Lato;
color: #FFFFFF;
margin-bottom: 20px;
font-weight: normal;
}
.home__headerButton > a{
    background-color: transparent;
    color: #FFFFFF;
    }
   
     button{
    background-color: #0044FF;
    padding: 15px 35x;
    margin: 0px 0px 10px;
    width: 160px;
    height: 50px;
    font-size: 14px;
    font-family: Lato;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    }



    /* ================================SERVICES========================== */
    .home__services{
        margin-top: 25rem;
        background-color: #F7F9FD;

    }
.home__servicesHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__servicesHeaderTitle{
font-size: 66px;
color: #21212B;
font-weight: 400;
}
.home__servicesHeaderText{
margin: 0px 0px 8px;
font-size: 28px;
color: #0A0A0Aa6;
}
.home__serviceOptions{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




/* ============================MEDIA QUERIES=================================================================== */


@media (max-width: 768px) {
    .serviceOptions{
flex-direction: column;
        }
    
  }